<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>Experiment</servlet-name>
		<servlet-class>net.carlevert.Experiment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Experiments</servlet-name>
		<servlet-class>net.carlevert.Experiments</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>NotFound</servlet-name>
		<servlet-class>net.carlevert.NotFound</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>NotFound</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Experiment</servlet-name>
		<url-pattern>/experiment/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Experiments</servlet-name>
		<url-pattern>/experiments</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>net.carlevert.OfyHelper</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>